*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header{
    width: 80%;
    height: 80vh;
    /* background-color: red; */
    /* background-image:url(../images/img.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom ; */
    /* background-image: linear-gradient(bottom,blue,green); */
    /* background-image: linear-gradient(to top, blue, green); */
    /* background-image: linear-gradient(to left, blue, green); */
    /* background-image: linear-gradient(to right, blue, green); */
    /* background-image: linear-gradient(to top left, blue, green); */
    /* background-image: linear-gradient(to top right, blue, green) */
    /* background-image: linear-gradient(to bottom left, blue, green); */
    /* background-image: linear-gradient(to bottom right, blue, green); */
    /* background-image: repeating-linear-gradient(90deg, blue 10%, green 20%, red 40%); */
    /* background-image: radial-gradient( green 15%,blue 15%, yellow 60% ); */
    /* background-image: radial-gradient( green 15%,blue 15%, yellow 60% ); */
    /* background-image: radial-gradient(square, green,blue , yellow ); */
    /* background-image: radial-gradient(square, green,blue , yellow ); */
    background-image: linear-gradient(to bottom, rgba(0, 128, 0, 0.219),rgba(0, 0, 255, 0.459)),url(../images/img.jfif);
    background-size: cover;
    background-position: center;
    

}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p{
    font-size: 80px;
    font-weight: 900;
}